<div class="card">
  <div class="card-header">
    Welcome to TTRPG Encounter Manager
  </div>
  <div class="card-body">
    <h5 class="card-title">Please create an account or login below</h5>
    <p class="card-text">You may browse public encounters without creating an account.  However you will not be able to create or save encounters</p>
    <a class="btn btn-primary" routerLink="/register">Create Account</a>
    <a class="btn btn-succes" routerLink="/login">Login</a>
    <a class="btn btn-danger">Browse Encounters</a>
  </div>
</div>
